<shared-header></shared-header>







    <div class="col-md-9">

        <div class="col-md-12 tablemain">

            <table class="table">
                <thead>
                    <tr>
                        <th>Trufl</th>
                        <th>B.L</th>
                        <th>Name</th>
                        <th>Size</th>
                        <th>Amount</th>
                        <th>Status</th>
                        <th>Table no</th>
                        <th>Seated</th>
                        <th>App Served</th>
                        <th>Menu Served</th>
                        <th>Desert Served</th>
                        <th>Check Received</th>
                        <th>Buzzing</th>
                        <th>Empty</th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let seatsinfo of seatedinfo; let i = index">
                        

                        <td><img alt="" src="../../../../wwwroot/images/tick.png" /></td>
                        <td><img alt="" src="../../../../wwwroot/images/tick.png" /></td>
                        <td>{{seatsinfo.TUserName}}</td>
                        <td>{{seatsinfo.PartySize}}</td>
                        <td>{{seatsinfo.OfferAmount}}</td>
                        <td>{{seatsinfo.Status}}</td>
                        <td>{{seatsinfo.TableNumber}}</td>
                        <td class="customcheckbox"><input type="checkbox"   [(ngModel)]="seatsinfo.Seated" name="seated"  (click)="get(seatsinfo,'Seated',$event,seatsinfo.Seated)" id="seat{{i}}" > <label for="seat{{i}}"></label> </td>
                        <td class="customcheckbox"><input type="checkbox"  [(ngModel)]="seatsinfo.AppServed" name="appserved"  (click)="get(seatsinfo,'AppServed',$event)" id="app{{i}}"><label for="app{{i}}"></label> </td>
                        <td class="customcheckbox"><input type="checkbox"  [(ngModel)]="seatsinfo.MenuServed" name="menuserved" (click)="get(seatsinfo,'MenuServed',$event)" id="menu{{i}}"><label for="menu{{i}}"></label></td>
                        <td class="customcheckbox"><input type="checkbox"  [(ngModel)]="seatsinfo.DesertServed" name="dessertserved" (click)="get(seatsinfo,'DesertServed',$event)" id="desert{{i}}"><label for="desert{{i}}"></label></td>
                        <td class="customcheckbox"><input type="checkbox"  [(ngModel)]="seatsinfo.CheckReceived" name="checkreceived"(click)="get(seatsinfo,'CheckReceived',$event)" id="check{{i}}"><label for="check{{i}}"></label></td>
                        <td class="customcheckbox"><input type="checkbox" [(ngModel)]="seatsinfo.Boozing" name="boozing" (click)="get(seatsinfo,'Boozing',$event)" id="buzz{{i}}"><label for="buzz{{i}}"></label></td>
                        <td class="customcheckbox"><input type="checkbox"  [(ngModel)]="seatsinfo.Empty" name="empty" (click)="get(seatsinfo,'Empty',$event)" id="empty{{i}}"><label for="empty{{i}}"></label></td>



                    </tr>




            </table>


            <div *ngIf="!hasData()">No Data Found</div>


            <div class="btn-main">
                <button [disabled]="!isenabled" (click)="postSeatedDetails()">Submit</button>
            </div>

        </div>



    </div>

<div class="loader"   *ngIf="load"></div>

