.loginbg {
    background: url(../../../../wwwroot/images/loginbg.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}


    .loginbg .header {
        background: none;
    }