
.loginbg {
    background: url(../../../../wwwroot/images/loginbg.jpg) no-repeat center center;
    background-size: cover;
    display: table;
    width: 100%;
    min-height: 100%;
}

    .loginbg .header {
        background: none !important;
    }

.notihead {
    color: #0078d7 !important;
}