
<shared-header></shared-header>
<div class="col-md-12 spinner">

    <div class="col-md-4  spmain">

        <h3>Special offers of the day </h3>

        <div class="sprep">
            <p>01/072017</p>
            <p class="sptext">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.

            </p>

        </div>
        <div class="sprep">
            <p>01/072017</p>
            <p class="sptext">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.

            </p>

        </div>
        <div class="sprep">
            <p>01/072017</p>
            <p class="sptext">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.

            </p>

        </div>
        <div class="sprep">
            <p>01/072017</p>
            <p class="sptext">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.

            </p>

        </div>
        <div class="sprep">
            <p>01/072017</p>
            <p class="sptext">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.

            </p>

        </div>
        <div class="sprep">
            <p>01/072017</p>
            <p class="sptext">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.

            </p>

        </div>
        <div class="sprep">
            <p>01/072017</p>
            <p class="sptext">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.

            </p>

        </div>
    </div>

    <div class="col-md-8  sptabs">
        <ul>
            <li>
                <a href="#">
                    <h4>View Waitlist </h4>
                    <img alt="" src="../../../../wwwroot/images/icon1.png"/> <br />
                    <img alt="" src="../../../../wwwroot/images/arrow.png"/>
                </a>

            </li>


            <li>
                <a href="#" class="pull-right">
                    <h4>View Seated </h4>
                    <img alt="" src="../../../../wwwroot/images/icon2.png"/> <br />
                    <img alt="" src="../../../../wwwroot/images/arrow.png"/>
                </a>

            </li>
        </ul>


    </div>

</div>