<div class="customheader">

    <div class="customheaderleft">
        <h2>Review Selections</h2>
    </div>
    <div class="customheaderright">
        <a (click)="back()" class="secondary-btn">
            Back
        </a>
        <a (click)="next()" class="primary-btn">
            Next
        </a>
    </div>

</div>
<div class="col-md-12 reviewmain">

    <div class="row">
        <div class="col-md-4">
            <h2> Guests can join the waitlist at:</h2>
            <span class="reviewtime">5:00PM </span>
        </div>
        <div class="col-md-4">
            <h2>These servers are on the floor. </h2>

            <div class="selectstaff fw nomar">
                <ul>
                    <li class="fw nomar revmar">
                        <a class="selected">
                            <img src="../../../../wwwroot/images/staff.png" alt="" />
                            <h3>
                                John <br /> Addams
                            </h3>
                            <p>Main Dining </p>
                        </a>
                    </li>
                    <li class="fw nomar revmar">
                        <a class="selected">
                            <img src="../../../../wwwroot/images/staff1.png" alt="" />
                            <h3>
                                Wanda

                                <br /> Fisher
                            </h3>
                            <p>Main Dining </p>
                        </a>
                    </li>
                    <li class="fw nomar revmar">
                        <a class="selected">
                            <img src="../../../../wwwroot/images/staff2.png" alt="" />
                            <h3>
                                Quincy <br /> Washington
                            </h3>
                            <p>Main Dining </p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-4">
            <h2> These sections are closed.</h2>

            <div class="selectfloor fw nomar">
                <ul>
                    <li class="fw  nomar revmar">
                        <a style="background-image:url(images/restaurants1.jpg)" href="#">
                            <h3>Main Dinning Room</h3>
                        </a>
                    </li>
                    <li class="fw  nomar revmar">
                        <a style="background-image:url(images/restaurants1.jpg)" href="#">
                            <h3>Main Dinning Room</h3>
                        </a>
                    </li>
                </ul>
            </div>
        </div>




    </div>
</div>