<div class="loginbg">
    <div class="col-md-3 logincontiner">
        <div class="loginmain">
            <div class="login-top">
                <img alt="" src="../../../../wwwroot/images/logo.png" />

                <h1 class="text-center">Resturant App </h1>
            </div>
           <form class="logininner" (ngSubmit)="signIn()" #loginForm="ngForm" *ngIf="showlogin">
                <div id="login">
                    <div class="logcheck">
                        <span class="pull-left">
                            <input type="radio" checked name="userType" value="TR" [(ngModel)]="userType"> <label> Restaurant Admin</label>
                        </span> <span class="pull-right">
                            <input type="radio" name="userType" value="TA" [(ngModel)]="userType" > <label>Trufl Admin</label>
                        </span>
                    </div>
                    <div class="form-group ffw">
                        <input type="text" class="form-control" id="userName" name="userName" [(ngModel)]="user.userName" required placeholder="Enter your username or email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" #username="ngModel" />
                        <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
                            <div *ngIf="username.errors.required">UserName is required.  </div>
                            <div *ngIf="username.errors.pattern">UserName format should be <small><b>joe@abc.com</b></small></div>
                        </div>
                        <span class="help-block"></span>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password" required placeholder="Enter password" #password="ngModel" />
                        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                            <div *ngIf="password.errors.required">Password is required.  </div>  
                        </div>
                        <span class="help-block"></span>
                    </div>

                    <div  class="alert-danger">{{errorMsg}}
                        
                        <span class="help-block"></span>
                    </div>

                    <div class="fp text-right" (click)="forgotPassword()">
                        <a href="#">
                            forgot password ?
                        </a>

                    </div>
                    <div class="login-btn">
                        <button type="reset" class="secondary-btn lgbtn">Clear</button>
                        <button type="submit" class="primary-btn lgbtn pull-right" [disabled]="!loginForm.form.valid">Sign In</button>
                    </div>

                    <div class="createaccount">
                        <h2>
                            No account ?
                            <a [routerLink]="['/register']">Create One </a>
                        </h2>
                    </div>

                </div>
               </form>
            <form class="logininner" *ngIf="showForgotPassword" #forgotForm="ngForm">

                <div id="ForgotPassword">

                    <h3>Forgot Password </h3>

                    <div class="form-group ffw">

                        <input type="text" class="form-control" id="userName" name="userName" [(ngModel)]="user.userName" required placeholder="Enter your username or email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" #userName="ngModel" />
                        <div [hidden]="userName.valid || userName.pristine" class="alert alert-danger">
                            <div [hidden]="!userName.hasError('required')">Email is required</div>
                            <div [hidden]="!userName.hasError('pattern')">Email format should be <small><b>joe@abc.com</b></small></div>
                        </div>
                        <span class="help-block"></span>
                    </div>
                    <div class="fp text-right">
                        <a [routerLink]="['/login']">
                            login?
                        </a>
                    </div>
                    <div class="login-btn">
                        <button type="reset" class="secondary-btn lgbtn">Clear</button>
                        <button type="submit" (click)="resetPassword()" [disabled]="!forgotForm.form.valid" class="primary-btn pull-right lgbtn">submit</button>
                    </div>
                </div>
            </form>
            <form class="logininner" *ngIf="showResetPassword">
                <div id="ResetPassword">

                    <h3> Check your email</h3>  <p>
                        You will receive an email containing instructions on how to create a new password.
                    </p>
                    <div class="fp text-right">
                        <a [routerLink]="['/login']">
                            login?
                        </a>
                    </div>
                </div>
            </form>
        </div>

        <div class="terms" *ngIf="showlogin">
            By logging in, you agree to Trufl's Terms of Service, Cookie Policy, Privacy Policy and Content Policies
        </div>
    </div>
</div>
