<div class="header">
    <div class="col-md-5 headerleft">
        <h1>
            <a (click)="showHeaders()" *ngIf="this.userType==='RA'">Hostess</a>
            <a (click)="showHeaders()" *ngIf="this.userType==='TA'">Admin</a>
        </h1>
    </div>
    <div class="headerright">
        <a *ngIf="this.userType==='RA'" [routerLink]="['/hostesssettings']"><img alt="" src="../../../../../wwwroot/images/setting.png" /> </a>
        <a *ngIf="this.userType==='TA'" [routerLink]="['/settings']"><img alt="" src="../../../../../wwwroot/images/setting.png" /> </a>
        <div class="profiledd dropdown">
            <a (click)="logoutShow()"> <label>{{userName}} </label> <img width="32" alt="" src="../../../../../wwwroot/images/profile.png" /> </a>
            <ul class="pdd" *ngIf="profileVisible">
                <li *ngIf="employeeVisible">
                    <a class=""  (click)="getEmployee()"> Employees Configuration</a>
                </li>
                <li>
                    <a class="" (click)="logout()"> Logout</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="col-md-12 innermain">
    <div class="col-md-12 leftnav no-pad" *ngIf="showHeadings">
        <div>
            <ul>
                <li *ngFor="let header of headers let i=index">
                    <a *ngIf="header.isSettings" [routerLink]="[header.route]" [routerLinkActive]="['selected']">{{header.name}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>