<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="MailjetAPIKey" value ="ba49e1fcd1006772487fd7dcbad0cb92"/>
    <add key ="MailjetSecretKey" value ="b3f9355c87024b20e7492fda9d2aac48"/>
    <add key ="emailFrom" value ="naresh.pittala@ptgindia.com"/>
    <add key ="smtphost" value ="in-v3.mailjet.com"/>
  </appSettings>
</configuration>