<div class="customheader">

    <div class="customheaderleft">
        <h2>Select Staff</h2>
    </div>
    <div class="customheaderright">
        <a (click)="back()" class="secondary-btn">
            Back
        </a>
        <a (click)="next()" class="primary-btn">
            Next
        </a>
    </div>

</div>
<div class="col-md-12 servicesmain">

    <span class="servicetext">Who's on the clock tonight?</span>

    <div class="selectstaff">
        <ul  >
            <li *ngFor="let staffimage of staff_info">
                <a class="selected"  (click)="showProfile(staffimage)">                   

                    <img alt="" src="data:image/JPEG;base64,{{staffimage.pic}}" />
                    <h3>
                        <!--John <br /> Addams -->
                        {{staffimage.FullName}}  
                    </h3>
                </a>
            </li>
         <!--   <li>
                <a href="#">
                    <img src="../../../../wwwroot/images/staff1.png" alt="" />
                    <h3>
                        Wanda

                        <br /> Fisher
                    </h3>
                </a>
            </li>
            <li>
                <a class="selected" href="#">
                    <img src="../../../../wwwroot/images/staff2.png" alt="" />
                    <h3>
                        Quincy <br /> Washington
                    </h3>
                </a>
            </li>
            <li>
                <a class="selected" href="#">
                    <img src="../../../../wwwroot/images/staff.png" alt="" />
                    <h3>
                        John <br /> Addams
                    </h3>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../../../../wwwroot/images/staff1.png" alt="" />
                    <h3>
                        Wanda

                        <br /> Fisher
                    </h3>
                </a>
            </li>
            <li>
                <a class="selected" href="#">
                    <img src="../../../../wwwroot/images/staff2.png" alt="" />
                    <h3>
                        Quincy <br /> Washington
                    </h3>
                </a>
            </li>
            <li>
                <a class="selected" href="#">
                    <img src="../../../../wwwroot/images/staff.png" alt="" />
                    <h3>
                        John <br /> Addams
                    </h3>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../../../../wwwroot/images/staff1.png" alt="" />
                    <h3>
                        Wanda

                        <br /> Fisher
                    </h3>
                </a>
            </li>
            <li>
                <a class="selected" href="#">
                    <img src="../../../../wwwroot/images/staff2.png" alt="" />
                    <h3>
                        Quincy <br /> Washington
                    </h3>
                </a>
            </li>  -->

        </ul>

    </div>
    <div class="col-md-2 animated fadeInRight" id="profileSection" *ngIf="isShow">
       <a id="close" class="close" (click)="closeProile()"><span>x</span></a>
       <div class="slidetop">
          <!--  <img alt="" src="../../../../../wwwroot/images/restaurants1.jpg" /> -->
          <img src="data:image/JPEG;base64,{{staffimage}}" alt="" /><h5 class="name">{{FullName}}</h5>
       </div>
        <div class="slideformmain">
            <div class="slidetoggle mrgBottom15">
                <label class="lblmargin">Check In / Out</label>

                <label class="switch mrfLeft42 mrgTop9">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
            <div class="slideform">

                <select (change)="valueChange($event)">
                    <option>---select section----</option>
                    <option *ngFor="let title of array;let i = index" [selected]="title.FloorNumber===FloorNumber" value={{title.FloorNumber}} [disabled]="title.isDisabled">{{title.FloorName}}</option>
                </select>


            <!--<div class="switch" style="color:red; margin:0 auto;display:block">
                <select  (change)="valueChange($event)"  >  
                    <option>---pleaseselect----</option>
                    <option *ngFor="let title of array;let i = index"    value={{title.FloorNumber}}     [disabled]="title.isDisabled">{{title.FloorName}}</option>
                </select>

            </div>-->
                <!-- <div class="slidetoggle">
                  <label>Open / Close</label>

                  <label class="switch">
                      <input type="checkbox">
                      <span class="slider round"></span>
                  </label>
              </div>

              <div class="slideform"><label>Section Start Number </label> <input type="text" />  </div>

              <div class="slideform"><label>Section End Number </label> <input type="text" />  </div>
              <div class="slideform"><a href="#">+ Add More </a>  </div> -->
            </div>
    </div>



        </div>








</div>