<div class="customheader">

    <div class="customheaderleft">
        <h2>Select Staff</h2>
    </div>
    <div class="customheaderright">
        <a (click)="back()" class="secondary-btn">
            Back
        </a>
        <a (click)="next()" class="primary-btn">
            Next
        </a>
    </div>

</div>
<div class="col-md-12 servicesmain">

    <span class="servicetext">Who's on the clock tonight?</span>

    <div class="selectstaff">
        <ul>
            <li>
                <a class="selected" href="#">
                    <img src="../../../../wwwroot/images/staff.png" alt="" />
                    <h3>
                        John <br /> Addams
                    </h3>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../../../../wwwroot/images/staff1.png" alt="" />
                    <h3>
                        Wanda

                        <br /> Fisher
                    </h3>
                </a>
            </li>
            <li>
                <a class="selected" href="#">
                    <img src="../../../../wwwroot/images/staff2.png" alt="" />
                    <h3>
                        Quincy <br /> Washington
                    </h3>
                </a>
            </li>
            <li>
                <a class="selected" href="#">
                    <img src="../../../../wwwroot/images/staff.png" alt="" />
                    <h3>
                        John <br /> Addams
                    </h3>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../../../../wwwroot/images/staff1.png" alt="" />
                    <h3>
                        Wanda

                        <br /> Fisher
                    </h3>
                </a>
            </li>
            <li>
                <a class="selected" href="#">
                    <img src="../../../../wwwroot/images/staff2.png" alt="" />
                    <h3>
                        Quincy <br /> Washington
                    </h3>
                </a>
            </li>
            <li>
                <a class="selected" href="#">
                    <img src="../../../../wwwroot/images/staff.png" alt="" />
                    <h3>
                        John <br /> Addams
                    </h3>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../../../../wwwroot/images/staff1.png" alt="" />
                    <h3>
                        Wanda

                        <br /> Fisher
                    </h3>
                </a>
            </li>
            <li>
                <a class="selected" href="#">
                    <img src="../../../../wwwroot/images/staff2.png" alt="" />
                    <h3>
                        Quincy <br /> Washington
                    </h3>
                </a>
            </li>

        </ul>

    </div>



</div>