
<shared-header></shared-header>
<div class="col-md-12 settingmain">
    <div class="col-md-6 settingtop setgap">
        <h3>Reset Password</h3>

        <table class="table">
            <tbody *ngFor="let truflcustomers of UsersInformation; let i = index">
                <tr>
                    <td class="text"><p>Username:</p><p class="settingsdata">{{truflcustomers.RegisteredRestaurants}}</p></td>
                    <td class="text"><p>Email Id:</p><p class="settingsdata">{{truflcustomers.RegisteredEmail}}</p></td>
                   
                    <td><a class="reset" (click)="Reset(truflcustomers.RegisteredEmail)">Reset</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-5 settingtop" id="secondsettingtop">
        <h3>
            Profile
            <a class="pull-right" href="#"></a>
        </h3>
        <table class="table">

            <tbody>

                <tr *ngFor="let obj of user; let i = index">
                    <td *ngIf="!obj.isEdit"  class="text"><p>{{obj.key}}:</p><p class="settingsdata">{{obj.value}}</p></td>
                    
                    <td *ngIf="!obj.isEdit">
                        <a (click)="editDetails(obj, i)">
                            <img alt="" src="../../../../wwwroot/images/edit.png" />
                        </a>
                    </td>
                    <td *ngIf="obj.isEdit"><label>{{obj.key}}:</label><input type="text" value="uname"  name="uname" [(ngModel)]="obj.value" /></td>
                    
                </tr>
               
                 
                       <!--<td class="alert alert-danger">password required</td>-->
                   
                
                <tr *ngIf="isShow">
                    <td>
                        <button type="submit" class="primary-btn lgbtn pull-left" (click)="Done()" id="done">Done</button>
                        <button (click)="cancel()" class="secondary-btn lgbtn" id="cancel">Cancel</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    </div>