<shared-header></shared-header>
<div class="col-md-12 guestmain">
    <div class="row">
        <div class="col-md-6 guesttitle">
            <h3>Sarah Status, Party of 2 </h3>
            <p>Seating Preferences: Patio, needs to be by a heater </p>
        </div>
        <div class="col-md-6 guesttabs">
            <ul>
                <li>
                    <a class="selected" href="seataguest.html">Available</a>
                </li>
                <li>
                    <a href="seataguestserver.html">by server</a>
                </li>
                <li>
                    <a href="#">settings</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="selectguest">
        <ul>
            <li>
                <a style=" background: #8d6c8d;" href="#">
                    <p>2-Top</p>
                    <h3>
                        34
                    </h3>
                    <p>Main Dinning Main Dinning Main Dinning Main Dinning Main Dinning Main Dinning</p>
                    <p>Wanda F</p>
                </a>
            </li>
            <li>
                <a style=" background: #8d6c8d;" href="#">
                    <p>2-Top</p>
                    <h3>
                        53
                    </h3>
                    <p>Main Dinning</p>
                    <p>Wanda F</p>
                </a>
            </li>
            <li>
                <a style=" background: #4f5c96;" href="#">
                    <p>2-Top</p>
                    <h3>
                        64
                    </h3>
                    <p>Main Dinning</p>
                    <p>Wanda F</p>
                </a>
            </li>
            <li>
                <a style=" background: #51919a;" href="#">
                    <p>2-Top</p>
                    <h3>
                        83
                    </h3>
                    <p>Main Dinning</p>
                    <p>Wanda F</p>
                </a>
            </li>
            <li>
                <a style=" background: #51919a;" href="#">
                    <p>2-Top</p>
                    <h3>
                        34
                    </h3>
                    <p>Main Dinning</p>
                    <p>Wanda F</p>
                </a>
            </li>
            <li>
                <a style=" background: #4f5c96;" href="#">
                    <p>2-Top</p>
                    <h3>
                        18
                    </h3>
                    <p>Main Dinning</p>
                    <p>Wanda F</p>
                </a>
            </li>
            <li>
                <a style=" background: #477b6c;" href="#">
                    <p>2-Top</p>
                    <h3>
                        24
                    </h3>
                    <p>Main Dinning</p>
                    <p>Wanda F</p>
                </a>
            </li>
            <li>
                <a style=" background: #8d6c8d;" href="#">
                    <p>2-Top</p>
                    <h3>
                        65
                    </h3>
                    <p>Main Dinning</p>
                    <p>Wanda F</p>
                </a>
            </li>
            <li>
                <a style=" background: #8d6c8d;" href="#">
                    <p>2-Top</p>
                    <h3>
                        34
                    </h3>
                    <p>Main Dinning</p>
                    <p>Wanda F</p>
                </a>
            </li>
            <li>
                <a style=" background: #8d6c8d;" href="#">
                    <p>2-Top</p>
                    <h3>
                        34
                    </h3>
                    <p>Main Dinning</p>
                    <p>Wanda F</p>
                </a>
            </li>
            <li>
                <a style=" background: #8d6c8d;" href="#">
                    <p>2-Top</p>
                    <h3>
                        34
                    </h3>
                    <p>Main Dinning</p>
                    <p>Wanda F</p>
                </a>
            </li>
            <li>
                <a style=" background: #4f5c96;" href="#">
                    <p>2-Top</p>
                    <h3>
                        34
                    </h3>
                    <p>Main Dinning</p>
                    <p>Wanda F</p>
                </a>
            </li>
            <li>
                <a style=" background: #51919a;" href="#">
                    <p>2-Top</p>
                    <h3>
                        34
                    </h3>
                    <p>Main Dinning</p>
                    <p>Wanda F</p>
                </a>
            </li>
            <li>
                <a style=" background: #51919a;" href="#">
                    <p>2-Top</p>
                    <h3>
                        34
                    </h3>
                    <p>Main Dinning</p>
                    <p>Wanda F</p>
                </a>
            </li>
            <li>
                <a style=" background: #4f5c96;" href="#">
                    <p>2-Top</p>
                    <h3>
                        34
                    </h3>
                    <p>Main Dinning</p>
                    <p>Wanda F</p>
                </a>
            </li>
            <li>
                <a style=" background: #477b6c;" href="#">
                    <p>2-Top</p>
                    <h3>
                        34
                    </h3>
                    <p>Main Dinning</p>
                    <p>Wanda F</p>
                </a>
            </li>
            <li>
                <a style=" background: #8d6c8d;" href="#">
                    <p>2-Top</p>
                    <h3>
                        34
                    </h3>
                    <p>Main Dinning</p>
                    <p>Wanda F</p>
                </a>
            </li>
            <li>
                <a style=" background: #8d6c8d;" href="#">
                    <p>2-Top</p>
                    <h3>
                        34
                    </h3>
                    <p>Main Dinning</p>
                    <p>Wanda F</p>
                </a>
            </li>

        </ul>

    </div>


    <div class="selectguest selectguestava dn" id="guestava">
        <ul>
            <li>
                <a style=" background: #8d6c8d;" href="#">

                    <h3>
                        34
                    </h3>
                    <p>Main Dinning Main Dinning Main Dinning Main Dinning Main Dinning Main Dinning</p>
                    <p>Wanda F</p>
                </a>
            </li>
            <li>
                <a style=" background: #8d6c8d;" href="#">

                    <h3>
                        53
                    </h3>
                    <p>Main Dinning</p>
                    <p>Wanda F</p>
                </a>
            </li>
            <li>
                <a style=" background: #8d6c8d;" href="#">

                    <h3>
                        64
                    </h3>
                    <p>Main Dinning</p>
                    <p>Wanda F</p>
                </a>
            </li>
            <li>
                <a style=" background: #8d6c8d;" href="#">

                    <h3>
                        83
                    </h3>
                    <p>Main Dinning</p>
                    <p>Wanda F</p>
                </a>
            </li>
            <li>
                <a style=" background: #8d6c8d;" href="#">

                    <h3>
                        34
                    </h3>
                    <p>Main Dinning</p>
                    <p>Wanda F</p>
                </a>
            </li>
            <li>
                <a style=" background: #8d6c8d;" href="#">

                    <h3>
                        18
                    </h3>
                    <p>Main Dinning</p>
                    <p>Wanda F</p>
                </a>
            </li>
            <li>
                <a style=" background: #8d6c8d;" href="#">

                    <h3>
                        24
                    </h3>
                    <p>Main Dinning</p>
                    <p>Wanda F</p>
                </a>
            </li>
            <li>
                <a style=" background: #8d6c8d;" href="#">

                    <h3>
                        65
                    </h3>
                    <p>Main Dinning</p>
                    <p>Wanda F</p>
                </a>
            </li>
            <li>
                <a style=" background: #8d6c8d;" href="#">
                    <p>2-Top</p>
                    <h3>
                        34
                    </h3>
                    <p>Main Dinning</p>
                    <p>Wanda F</p>
                </a>
            </li>


        </ul>


        <ul>
            <li>
                <a style=" background: #477b6c;" href="#">

                    <h3>
                        34
                    </h3>
                    <p>Main Dinning Main Dinning Main Dinning Main Dinning Main Dinning Main Dinning</p>
                    <p>Wanda F</p>
                </a>
            </li>
            <li>
                <a style=" background: #477b6c;" href="#">

                    <h3>
                        53
                    </h3>
                    <p>Main Dinning</p>
                    <p>Wanda F</p>
                </a>
            </li>
        </ul>

        <ul>
            <li>
                <a style=" background: #4f5c96;" href="#">

                    <h3>
                        34
                    </h3>
                    <p>Main Dinning Main Dinning Main Dinning Main Dinning Main Dinning Main Dinning</p>
                    <p>Wanda F</p>
                </a>
            </li>
            <li>
                <a style=" background: #4f5c96;" href="#">

                    <h3>
                        53
                    </h3>
                    <p>Main Dinning</p>
                    <p>Wanda F</p>
                </a>
            </li>
            <li>
                <a style=" background: #4f5c96;" href="#">

                    <h3>
                        34
                    </h3>
                    <p>Main Dinning Main Dinning Main Dinning Main Dinning Main Dinning Main Dinning</p>
                    <p>Wanda F</p>
                </a>
            </li>
            <li>
                <a style=" background: #4f5c96;" href="#">

                    <h3>
                        53
                    </h3>
                    <p>Main Dinning</p>
                    <p>Wanda F</p>
                </a>
            </li>
        </ul>





    </div>
</div>