<div class="loginbg">
    <div class="col-md-3 logincontiner">
        <div class="loginmain">
            <div class="login-top">
               

                <h1 class="text-center">Resturant App </h1>
            </div>
            <form class="logininner" #resetForm="ngForm">

                <div id="ResetPassword">

                    <h3>Reset Password </h3>

                    <div class="form-group">
                        <input type="password" class="form-control" id="mailPassword" name="mailPassword" [(ngModel)]="mailPassword" required placeholder="Enter password that you got in mail" />
                        <div *ngIf="mailPassword.invalid && (mailPassword.dirty || mailPassword.touched)" class="alert alert-danger">
                            <div *ngIf="mailPassword.errors.required">Password is required.  </div>
                        </div>
                        <span class="help-block"></span>
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control" id="newPassword"  name="newPassword" [(ngModel)]="newPassword" required placeholder="Enter new password"/>

                        <div *ngIf="newPassword.invalid || newPassword.dirty || newPassword.touched" class="alert alert-danger">
                            Passwords is required
                        </div>
                        <span class="help-block"></span>
                    </div>
                   
                    <div class="login-btn">
                        <button type="reset" class="secondary-btn lgbtn">Clear</button>
                        <button type="submit" (click)="resetPasswordImpl()" [disabled]="!resetForm.form.valid" class="primary-btn pull-right lgbtn">submit</button>
                    </div>
                </div>
            </form>
    </div>
    </div>
</div>