<div class="col-md-12 tablemain">

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Email Id</th>
                <th></th>
                <th></th>



            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1785</td>
                <td>Sarrah</td>
                <td>12457896</td>
                <td>xyz@abc.com</td>
                <td><a href="#">Edit</a></td>
                <td><a href="#">Deactivate</a></td>
            </tr>
            <tr>
                <td>1785</td>
                <td>Sarrah</td>
                <td>12457896</td>
                <td>xyz@abc.com</td>
                <td><a href="#">Edit</a></td>
                <td><a href="#">Deactivate</a></td>
            </tr>
            <tr>
                <td>1785</td>
                <td>Sarrah</td>
                <td>12457896</td>
                <td>xyz@abc.com</td>
                <td><a href="#">Edit</a></td>
                <td><a href="#">Deactivate</a></td>
            </tr>
            <tr>
                <td>1785</td>
                <td>Sarrah</td>
                <td>12457896</td>
                <td>xyz@abc.com</td>
                <td><a href="#">Edit</a></td>
                <td><a href="#">Deactivate</a></td>
            </tr>
            <tr>
                <td>1785</td>
                <td>Sarrah</td>
                <td>12457896</td>
                <td>xyz@abc.com</td>
                <td><a href="#">Edit</a></td>
                <td><a href="#">Deactivate</a></td>
            </tr>
            <tr>
                <td>1785</td>
                <td>Sarrah</td>
                <td>12457896</td>
                <td>xyz@abc.com</td>
                <td><a href="#">Edit</a></td>
                <td><a href="#">Deactivate</a></td>
            </tr>
            <tr>
                <td>1785</td>
                <td>Sarrah</td>
                <td>12457896</td>
                <td>xyz@abc.com</td>
                <td><a href="#">Edit</a></td>
                <td><a href="#">Deactivate</a></td>
            </tr>
            <tr>
                <td>1785</td>
                <td>Sarrah</td>
                <td>12457896</td>
                <td>xyz@abc.com</td>
                <td><a href="#">Edit</a></td>
                <td><a href="#">Deactivate</a></td>
            </tr>
        </tbody>
    </table>
    <div class="btn-main">
        <a href="#">Add </a>

    </div>
</div>