
<div class="customheader">

    <div class="customheaderleft">
        <h2>DefineSections</h2>
    </div>
    <div class="customheaderright">
        <a  class="secondary-btn" (click)="cancel()">
            Cancel
        </a>
        <a  class="primary-btn" (click)="saveclose()">
            SaveAndnext
        </a>
    </div>

</div>
<div class="col-md-12 sectionsmain"  *ngFor="let _defineserverdeatils of defineselectionsdetails;let i=index;">

    <ul>
        <li>
            <a href="#">
                <h3>{{_defineserverdeatils.name}}</h3>
                <p>{{_defineserverdeatils.sectionStartNumber}}-{{_defineserverdeatils.sectionsEndNumber}}</p>

            </a>
        </li>
        
    </ul>


   
</div>
