<shared-header></shared-header>
<div class="col-md-12 sectionsmain">

    <ul>
        <li>
            <a href="#">
                <h3> Main Dining </h3>
                <p>15-32 </p>

            </a>
        </li>
        <li>
            <a href="#">
                <h3> Bar Area</h3>
                <p>15-32 </p>

            </a>
        </li>
        <li>
            <a href="#">
                <h3> Patio</h3>
                <p>15-32 </p>

            </a>
        </li>
        <li>
            <a href="#">
                <h3>
                    2nd Floor Dining
                </h3>
                <p>15-32 </p>

            </a>
        </li>
        <li>
            <a href="#">
                <h3> Define Sections</h3>
                <p>15-32 </p>

            </a>
        </li>
        <li>
            <a href="#">
                <h3>
                    Mezzanine
                </h3>
                <p>15-32 </p>

            </a>
        </li>
        <li>
            <a href="#">
                <h3> Rooftop Bar</h3>
                <p>15-32 </p>

            </a>
        </li>
    </ul>


</div>