
<div class="customheader">

    <div class="customheaderleft">
        <h2>Manage Servers</h2>
    </div>
    <div class="customheaderright">
        <a class="secondary-btn"(click)="cancel()">
            cancel
        </a>
        <a class="primary-btn" (click)="saveclose()">
            SaveandClose
        </a>
    </div>

</div>
<div class="col-md-12 servicesmain msgap" >



    <div class="selectstaff">
        <ul>
           <li *ngFor="let _manageserver of manageserverdetails">
                <a class="selected" (click)="showProfile(_manageserver)">
                    <img src="{{_manageserver.img}}" alt="" />
                    <h3>
                        {{_manageserver.name}}
                    </h3>
                </a>

            </li>
            <!--<li>
                <a href="#">
                    <img src="../../../../../wwwroot/images/staff1.png" alt="" />
                    <h3>
                        Wanda

                        <br /> Fisher
                    </h3>
                </a>
            </li>-->
            <!--<li>
                <a class="selected" href="#">
                    <img src="../../../../../wwwroot/images/staff2.png" alt="" />
                    <h3>
                        Quincy <br /> Washington
                    </h3>
                </a>
            </li>
            <li>
                <a class="selected" href="#">
                    <img src="../../../../../wwwroot/images/staff.png" alt="" />
                    <h3>
                        John <br /> Addams
                    </h3>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../../../../../wwwroot/images/staff1.png" alt="" />
                    <h3>
                        Wanda

                        <br /> Fisher
                    </h3>
                </a>
            </li>
            <li>
                <a class="selected" href="#">
                    <img src="../../../../../wwwroot/images/staff2.png" alt="" />
                    <h3>
                        Quincy <br /> Washington
                    </h3>
                </a>
            </li><li>
    <a class="selected" href="#">
        <img src="../../../../../wwwroot/images/staff.png" alt="" />
        <h3>
            John <br /> Addams
        </h3>
    </a>
</li>
<li>
    <a href="#">
        <img src="../../../../../wwwroot/images/staff1.png" alt="" />
        <h3>
            Wanda

            <br /> Fisher
        </h3>
    </a>
</li>
<li>
    <a class="selected" href="#">
        <img src="../../../../../wwwroot/images/staff2.png" alt="" />
        <h3>
            Quincy <br /> Washington
        </h3>
    </a>
</li>-->
        </ul>

    </div>
 

    <div class="col-md-2 animated fadeInRight" id="profileSection" *ngIf="isShow">




        <a id="close" class="close" (click)="closeprofile()"><span>x</span></a>



        <div class="right-top">
            <img alt="" src="../../../../../wwwroot/images/no-img.png" class="profileimage" />
            <h5 class="name">{{currentRow}}</h5>



        </div>



    </div>

</div>