<shared-header></shared-header>
<div class="col-md-12 servicesmain">

    <span class="servicetext">Tap to close or open sections for tonight's service. </span>

    <div class="selectfloor">
        <ul>
            <li style="background-image:url(images/restaurants1.jpg)">
                <a href="#">

                    <h3>Main Dinning Room</h3>
                </a>
            </li>

            <li style="background-image:url(images/restaurants1.jpg)">
                <a href="#">
                    <h3>Main Dinning Room</h3>
                </a>
            </li>
            <li style="background-image:url(images/restaurants1.jpg)">
                <a href="#">
                    <h3>Main Dinning Room</h3>
                </a>
            </li>
            <li style="background-image:url(images/restaurants1.jpg)">
                <a href="#" class="selected">
                    <h3>Main Dinning Room</h3>
                </a>
            </li>
            <li style="background-image:url(images/restaurants1.jpg)">
                <a href="#" class="selected">
                    <h3>Main Dinning Room</h3>
                </a>
            </li>
        </ul>

    </div>



</div>