<div class="customheader">
    <div class="customheaderleft">
        <h2>Select Sections</h2>
    </div>
    <div class="customheaderright">
        <a (click)="back()" class="secondary-btn">
            Back
        </a>
        <a (click)="next()" class="primary-btn">
            Next
        </a>
    </div>

</div>
<div class="col-md-12 servicesmain">
    <span class="servicetext">Tap to close or open sections for tonight's service. </span>
    <div class="selectfloor">
        <ul>
            <li id="imm" *ngFor="let section of image_changes;let i=index" [ngStyle]="{ 'background-image': 'url('+imageIterate+section.image+')'}" (click)="select(section,i)" >
              
                <a>
                    <h3>{{section.FloorName}}</h3>
                </a>
            </li>           
        </ul>
    </div>
</div>