<shared-header></shared-header>
<div class="col-md-9">
  
    

       
           
            <div class="col-md-12 tablemain">

                <table class="table">
                    <thead>
                        <tr>
                            <th>Trufl</th>
                            <th>B.L</th>
                            <th>Name</th>
                            <th>Size</th>
                            <th>Quoted</th>
                            <th>Waited</th>
                            <th>Offer</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of truflUserList">
                            <td> <img alt="" src="../../../../wwwroot/images/tick.png" /> </td>
                            <td> <img alt="" src="../../../../wwwroot/images/tick.png" /> </td>
                            <td>{{item.UserName}}</td>
                            <td>{{item.PartySize}}</td>
                            <td>{{item.Quoted}}</td>
                            <td>{{item.Waited}}</td>
                            <td>${{item.OfferAmount}}</td>
                            <td width="350">
                                <div class="wait-btn">
                                    <a id="rowclick" href="#">View </a>
                                    <a class="success" href="#">Accepted</a>
                                    <a class="success" href="#">Notified</a>
                                    <a data-toggle="modal" data-target="#SelectSeat" class="selected" href="#">Seated</a>
                                    <a href="#">Remove</a>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>

                <div class="btn-main">
                    <a href="#">Add </a>

                </div>


            </div>
            <div class="col-md-12 seatmain">
                <div class="col-md-12">
                    <div class="btn-main"> <a class="btn-disable" href="#">turn get seated now </a> </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-9 tableselect">
                            <label>Table Size : </label>

                            <ul>
                                <li> <a href="#">1 </a> </li>
                                <li> <a href="#">2 </a> </li>
                                <li> <a href="#">3 </a> </li>
                                <li> <a href="#">4 </a> </li>
                                <li> <a class="selected" href="#">5 </a> </li>
                                <li> <a href="#">6 </a> </li>
                                <li> <a href="#">7 </a> </li>
                                <li> <a href="#">8 </a> </li>
                                <li> <a href="#">9 </a> </li>
                                <li> <a href="#">10 </a> </li>
                            </ul>

                        </div>
                        <div class="col-md-3 price">
                            <label>Price </label>
                            <a href="#">-</a> <input value="$150" type="text" /> <a href="#">+</a>

                        </div>
                    </div>

                    <div class="btn-main">
                        <a href="#">submit </a>

                    </div>


                </div>
                <div class="col-md-12 booked">
                    <p>Get Seated Active Now For </p> <b>3 Min 47 Sec </b> <span>4 </span> <span>150</span> <a class="secondary-btn" href="#">Cancel </a>

                </div>



            </div>


        

   
    <div class="right-section col-md-2">
        <div class="print">
            <a href="#">Print </a>

        </div>

        <div class="right-top">
            <img alt="" src="../../../../wwwroot/images/no-img.png" />
            <h4> Jay Chanuu </h4>
            <p> Trufl Premier Member</p>
            <p>Bottique Premier Member</p>

        </div>

        <div class="right-btn">
            <h5> Trufl Bio <a data-toggle="modal" data-target="#AddBio" href="#">ADD </a></h5>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>

        </div>


        <div class="right-rep">
            <h5> This Visit </h5>
            <div class="row">
                <div class="col-md-5"> <a href="#">Birthday </a> </div>
                <div class="col-md-7">Jay Chanuu Turning to 32 </div>
            </div>

        </div>
        <div class="right-rep">
            <h5> Relationship </h5>
            <div class="row">
                <div class="col-md-5"> <a href="#">VIP </a> <a href="#">Friend of owner </a> </div>
                <div class="col-md-7">Jay Chanuu Turning to 32 </div>
            </div>

        </div>





    </div>


</div>


<div class="modal fade" id="SelectSeat" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Choose the table for seating</h4>
            </div>
            <div class="modal-body" style="display:inline-block;">
                <div class="seatselection">
                    <ul>
                        <li><a href="#">1 </a> </li>
                        <li><a class="hold" href="#">2 </a> </li>
                        <li><a href="#">3 </a> </li>
                        <li><a href="#">4 </a> </li>
                        <li><a href="#">5 </a> </li>
                        <li><a href="#">6 </a> </li>
                        <li><a href="#">7 </a> </li>
                        <li><a href="#">8 </a> </li>
                        <li><a href="#">9 </a> </li>
                        <li><a class="hold" href="#">10 </a> </li>
                        <li><a href="#">11 </a> </li>
                        <li><a href="#">12 </a> </li>
                        <li><a href="#">13 </a> </li>
                        <li><a href="#">14 </a> </li>
                        <li><a href="#">15 </a> </li>
                        <li><a href="#">16 </a> </li>
                        <li><a href="#">17 </a> </li>
                        <li><a href="#">18 </a> </li>
                        <li><a href="#">19 </a> </li>
                        <li><a href="#">20 </a> </li>

                    </ul>
                    <div class="popup-btn">

                        <a href="#" class="primary-btn">Submit</a>
                        <a href="#" data-dismiss="modal" class="secondary-btn">Cancel</a>
                    </div>
                </div>
                <div class="success-content" style="display:none;">

                    Table No :14, 15 are Successfully Assigned For the Sarrah Status.

                    <div class="popup-btn">
                        <a href="#" data-dismiss="modal" class="primary-btn">Ok</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<div class="modal fade" id="AddBio" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Bio</h4>
            </div>
            <div class="modal-body">
                <div class="row modal-items">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Category</label>
                            <select class="form-items">
                                <option>Option1</option>
                                <option>Option1</option>
                            </select>
                        </div>


                        <div class="form-group">
                            <label>Description</label>
                            <textarea class="form-control" rows="4" cols="30"></textarea>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>