<div class="customheader">

    <div class="customheaderleft">
        <h2>{{restaurantName}}</h2>
    </div>
    <div class="customheaderright">
        <ul>
            <li style="float:left;padding-left:20px" (click)="waitlistPage()">Waitlist</li>
            <li style="float:left;padding-left:20px" (click)="seatedPage()">Seated</li>
            <li style="float:left;padding-left:20px" (click)="snapshotPage()">Snapshot</li>
            <li style="float:left;padding-left:20px" (click)="settingsPage()">Settings</li>
        </ul>
    </div>

</div>

<div class="col-md-12 snapmain">

    <table class="table">
        <thead>
            <tr>
                <th>
                    TRUFL<br />
                    STATUS
                </th>
                <th>{{restaurantName}}</th>
                <th>Guset<br /> name</th>
                <th>party<br /> size</th>
                <th>wait<br /> quoted</th>
                <th>time<br /> waited</th>
                <th>trufl offer/<br /> reservation</th>
                <th>accept<br /> offer</th>
                <th>notify</th>
                <th>print</th>
                <th>remove</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of truflUserList|paginate: { itemsPerPage: 5, currentPage: p };let i=index;" (click)="watlistUserDetails(item,i)" [class.tablerowselect]="i == selectedRow">
                <td> <img alt="" src="../../../../wwwroot/images/tick.png" /> </td>
                <td> <img alt="" src="../../../../wwwroot/images/tick1.png" /> </td>
                <td>{{item.UserName}}</td>
                <td>{{item.PartySize}}</td>
                <td>{{item.Quoted}}</td>
                <td>{{item.Waited}}</td>
                <td>${{item.OfferAmount}}</td>
                <td> <img alt="" src="../../../../wwwroot/images/ao.png" /> </td>
                <td> <img alt="" src="../../../../wwwroot/images/notify.png" /> </td>
                <td> <img alt="" src="../../../../wwwroot/images/print.png" /> </td>
                <td> <img alt="" src="../../../../wwwroot/images/remove.png" /> </td>
                <!--<td width="350">
                    <div class="wait-btn" *ngIf="item.isShowLinks">
                        <a [class]=classForAccept (click)="accept(item)">Accepted</a>
                        <a data-toggle="modal" data-target="#SelectSeat" [class]=classForSeated (click)="seated(item)">Seated</a>
                        <a (click)="remove(item)">Remove</a>
                    </div>
                </td>-->
            </tr>

        </tbody>
    </table>



</div>
<div class="col-md-12 seatmain" *ngIf="showTurnSeats">

    <div class="col-md-12" *ngIf="showSeated">
        <div class="row">
            <div class="col-md-1 seattitle">Get<br /> Seated <br />Now</div>
            <div class="col-md-11">
                <div class="col-md-6 tableselect">
                    <label>Table Size : </label>

                    <ul>
                        <li *ngFor="let item of TableSize">
                            <span (click)="OnTableSizeSelection(item)">{{item.size}}</span>
                        </li>
                    </ul>

                </div>
                <div class="col-md-3 price">
                    <label>Price </label>
                    <span>{{priceOfTable}}</span>

                </div> <div class="seat-btn">
                    <a class="primary-btn" href="#">submit </a>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 booked" *ngIf="ActiveSeats">
        <div class="col-md-1 seattitle">Get<br /> Seated <br />Now</div> <div class="col-md-11">
            <div class="bookrep">
                <label>Table Size</label>
                <span class="selected">{{sizeOfTable}} </span>
            </div>
            <div class="bookrep">
                <label>Price</label>
                <span class="selected">{{priceOfTable}} </span>
            </div> <div class="bookrep">
                <label>Active For</label>
                <span class="selected"><timer></timer> </span>
            </div>

            <a class="cancel-btn bookcan" (click)="cancelSeats()">Cancel </a>
        </div>
    </div>
</div>

<div class="col-md-12 bottombuttons">
    <a class="primary-btn" href="#">Turn On Get Seated Now</a>
    <a class="addbtn" (click)="Addguest()"> <img alt="" src="../../../../wwwroot/images/bigadd.png" /> </a>
</div>


<!--User Profile  Right Side-->
<div class="col-md-2 animated fadeInRight" id="profileSection" *ngIf="showProfile">




    <a id="close" class="close" (click)="closeProile()"><span>×</span></a>



    <div class="slidetop">
        <img alt="" src="{{pic}}" />

        <h5 class="name">{{username}}</h5>




    </div>
    <div *ngFor="let item of bioData">
        <div class="slideform"><label>{{item.BioName}} </label> <label>{{item.Description}}</label> </div>
    </div>

</div>
<div class="modal fade" id="SelectSeat" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Choose the table for seating</h4>
            </div>
            <div class="modal-body" style="display:inline-block;">
                <div class="seatselection">
                    <ul>
                        <li *ngFor="let item of tableData"><a (click)="selectTable(item)">{{item.TableNo}}</a></li>
                        <!--<li><a class="hold" href="#">2 </a> </li>-->

                    </ul>
                    <div class="popup-btn">
                        <a class="primary-btn" data-dismiss="modal" (click)="submitRestaurantTable()">Submit</a>
                        <a data-dismiss="modal" class="secondary-btn" (click)="closeRestaurantTable()">Cancel</a>
                    </div>
                </div>
                <div class="success-content" style="display:none;">

                    Table No :14, 15 are Successfully Assigned For the Sarrah Status.

                    <div class="popup-btn">
                        <a href="#" data-dismiss="modal" class="primary-btn">Ok</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<!--Add Bio Modal-->
<div class="container">


    <!-- Modal -->
    <div class="modal addBio-modal fade" id="myModal" #bioModal role="dialog">
        <div class="modal-dialog addBio-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Add Bio</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-12">Select the category</label>
                            <div class="col-md-12">
                                <select [ngModel]="categoryId" (ngModelChange)="onCategoryChange($event)" name="categoryId">
                                    <option *ngFor="let categories of bioCategories; let i=index"
                                            [value]="categories.BioID">
                                        {{categories.BioName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" *ngIf="showEvents">
                            <label class="col-md-12">Select the Event</label>
                            <div class="col-md-12">
                                <select [ngModel]="eventId" (ngModelChange)="onEventChange($event)" name="eventId">
                                    <option *ngFor="let events of bioEvents; let i=index"
                                            [value]="events.BioEventID">
                                        {{events.BioEventName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12">Enter the description</label>
                            <div class="col-md-12">
                                <textarea [(ngModel)]="description" name="message" rows="8" cols="60"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer addBio-footer">
                    <form>
                        <button type="button" class="btn btn-default bluebtn" (click)="addBio()">ADD</button>
                        <button type="button" class="btn btn-default cancelbtn" (click)="close()">Cancel</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
