<div class="col-md-12 no-pad">
    <div class="container">
        <div class="dashboard-main">
            <h4>Course Profile</h4>
            <div class="courseprofile-main">
                <div class="col-md-12 no-pad">
                    <div class="col-md-6 form-group">
                        <label class="col-md-4">Course Code:</label> <input class="input-medium col-md-8" type="text" placeholder="AD1123" />
                    </div>
                    <div class="col-md-6 form-group">
                        <label class="col-md-4">Course Description:</label> <input class="input-medium col-md-8" type="text" placeholder="CIF Academy ESO overview" />
                    </div>
                </div>
                <div class="col-md-12 no-pad">
                    <div class="col-md-6 form-group">
                        <label class="col-md-4">Course Type:</label>
                        <select class="col-md-8">
                            <option>E3010</option>
                            <option>E3011</option>
                            <option>E3012</option>
                            <option>E3013</option>
                        </select>
                    </div>
                    <div class="col-md-6 form-group">
                        <label class="col-md-4">Internal/External:</label> <input class="input-medium col-md-8" type="text" placeholder="E3010" />
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-4">
                        <button type="button" class="btn btn-primary btn-bg" (click)="GetAllCources()">Search</button>
                        <button type="button" class="btn btn-default btn-outline">Clear </button>
                    </div>
                </div>
                <table class="table table-responsive table-striped">
                    <thead>
                        <tr>
                            <th class="text-center">Course Title</th>
                            <th class="text-center">Start Date</th>
                            <th class="text-center">End Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of courseList">
                            <td class="text-center">{{item.Title}}</td>
                            <td class="text-center">{{item.CourseTypeID}}</td>
                            <td class="text-center">{{item.Duration}}</td>
                            <td class="text-center">{{item.FrequecyTypeID}}</td>
                        </tr>
                    </tbody>
                </table>

                <input type="text" [(ngModel)]="Title"/>Title
                <input type="text" [(ngModel)]="CourseTypeID" />CourseTypeID  
                <input type="text" [(ngModel)]="Duration" />Duration
                <input type="text" [(ngModel)]="FrequecyTypeID" />FrequecyTypeID

                <button type="button" class="btn btn-primary btn-bg" (click)="CreateCourse()">createCourse</button>
                 
            </div>
            <div class="col-md-12 no-pad">
                <div class="createnew-main">
                    <button type="button" class="btn btn-primary btn-bg">Create New</button>
                </div>
            </div>
        </div>
    </div>
</div>