<!--<style>
    .input__label--haruki::after{background:green;}

</style> -->

<div>
<form novalidate #form="ngForm" (ngSubmit)="form.valid && onSubmit(form.value,form)">
    <div class="customheader">

        <div class="customheaderleft">
            <h2>Add A New Guest</h2>
        </div>

        <div class="customheaderright">
             <button type="submit" (click)="get(1)" class="secondary-btn">
                Add to Waitlist
             </button>
             <button type="submit" (click)="get(2)" class="primary-btn">
                Seat Immediately
             </button>
        </div>

    </div>



    <div class="col-md-12 newguestmain">

        
            <div class="col-md-6">

                <div class="input input--haruki">
                    <input class="input__field input__field--haruki" type="text" id="input-1" name="guest" [(ngModel)]="data.guest" #guest="ngModel" required>
                    <label class="input__label input__label--haruki" for="input-1">
                        <span class="input__label-content input__label-content--haruki error-input">Guest Name *</span>

                    </label>


                    <label *ngIf="guest.invalid && (guest.dirty || guest.touched || form.submitted)" [ngStyle]="{'color': 'red'}">
                        <label *ngIf="guest.errors.required ">
                            name is required.
                        </label>
                    </label>

                    <span style="float:right;" *ngIf="guest.invalid && (guest.dirty || guest.touched || form.submitted)">
                        <img src="../../../../wwwroot/images/error.jpg" />
                    </span>



                </div>

               

                <div class="input input--haruki">
                    <input class="input__field input__field--haruki" type="text" id="input-1" name="email" [(ngModel)]="data.email" #email="ngModel" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" required>
                    <label class="input__label input__label--haruki" for="input-1">
                        <span class="input__label-content input__label-content--haruki error-input">Email Address *</span>
                    </label>

                    <label *ngIf="email.invalid && (email.dirty || email.touched || form.submitted)" [ngStyle]="{'color': 'red'}"  [ngClass]="{'input__label--haruki::after': email.errors}">
                        <label *ngIf="email.errors.required ">
                            email is required.
                        </label>
                        <label *ngIf="email.errors.pattern">
                            please enter avalid email address <i class="material-icons"></i>
                        </label>



                    </label>

                    <span style="float:right;" *ngIf="email.invalid && (email.dirty || email.touched || form.submitted)">
                        <img src="../../../../wwwroot/images/error.jpg" />
                    </span>



                </div>
                <div class="input input--haruki">
                    <input class="input__field input__field--haruki" type="text" id="input-1" name="mobile" [(ngModel)]="data.mobile" #mobile="ngModel" required>
                    <label class="input__label input__label--haruki" for="input-1">
                        <span class="input__label-content input__label-content--haruki error-input">Mobile Number *</span>
                    </label>

                    <label *ngIf="mobile.invalid &&(mobile.dirty || mobile.touched || form.submitted)" [ngStyle]="{'color': 'red'}">
                        <label *ngIf="mobile.errors.required">
                            mobile number is required.
                        </label>

                    </label>
                    <span style="float:right;" *ngIf="mobile.invalid &&(mobile.dirty || mobile.touched || form.submitted)">
                        <img src="../../../../wwwroot/images/error.jpg" />
                    </span>


                </div>

                <div class="input input--haruki">
                    <input class="input__field input__field--haruki" type="text" id="input-1" name="relationship" [(ngModel)]="data.relationship">
                    <label class="input__label input__label--haruki" for="input-1">
                        <span class="input__label-content input__label-content--haruki">Relatonship</span>
                    </label>
                </div>


            </div>
            <div class="col-md-6">

                <div class="input input--haruki">
                    <input class="input__field input__field--haruki" type="text" id="input-1" name="visit" [(ngModel)]="data.visit">
                    <label class="input__label input__label--haruki" for="input-1">
                        <span class="input__label-content input__label-content--haruki">This Visit</span>
                    </label>
                </div>

                <div class="input input--haruki">
                    <input class="input__field input__field--haruki" type="text" id="input-1" name="food" [(ngModel)]="data.food">
                    <label class="input__label input__label--haruki" for="input-1">
                        <span class="input__label-content input__label-content--haruki">Food & Drink Preferences</span>
                    </label>
                </div>
                <div class="input input--haruki">
                    <input class="input__field input__field--haruki" type="text" id="input-1" name="seating" [(ngModel)]="data.seating">
                    <label class="input__label input__label--haruki" for="input-1">
                        <span class="input__label-content input__label-content--haruki">Seating Preferences</span>
                    </label>
                </div>

                <div class="input input--haruki">
                    <input class="input__field input__field--haruki" type="text" id="input-1" name="notes" [(ngModel)]="data.notes">
                    <label class="input__label input__label--haruki" for="input-1">
                        <span class="input__label-content input__label-content--haruki">Notes</span>
                    </label>
                </div>
            </div>
        </div>
    </form>
    </div>


  <div class="col-md-12 bottombuttons">   
      <a class="cancel-btn"  (click)="EditCancel()" style="float: right;margin-right: 3%;color:#fff;">x Cancel</a>
    <!--<a class="cancel-btn" click="EditCancel()">Cancel</a>-->
 </div>
        
   
