.mydrp .btnclear, .mydrp .btnpicker  {
    height: 100% !important;
    width: 29px !important;
    border: none !important;
    padding: 0 !important;
    outline: 0 !important;
    font: inherit !important;
    -moz-user-select: none !important;
}
