<shared-header></shared-header>



<div class="col-md-12 dashmain" >

    <div class="col-md-6 date-time">

        <h3>Date and Time</h3>
        <div class="col-md-6 checkbox">
            <label class="checkbox-inline">
                <input id="checkbox1" type="checkbox" [(ngModel)]="today" (ngModelChange)="setDate()" >Today
            </label>
            <label class="checkbox-inline">
                <input id="checkbox2" type="checkbox" [(ngModel)]="otherday" (ngModelChange)="setRange()">OtherDate
            </label>
        </div>
        <div class="col-md-6 date">
            <!--<input type="text" value="5/6/17 - 7/8/17" [(ngModel)]="date" />-->
            <my-date-range-picker name="mydaterange" [options]="myDateRangePickerOptions" (dateRangeChanged)="onDateRangeChanged($event)"
                                  [(ngModel)]="date" required></my-date-range-picker>
        </div>

        <div class="col-md-12 noofcustomers" >
            <div class="col-md-4" *ngFor="let offer of offers;">
                <div class="Raised">
                    <p>{{offer.name}}</p>
                    <h5 class="text">{{offer.value}}</h5>
                </div>
            </div>
        </div>


    </div>
    <div class="col-md-6 count">
        <div class="row" >
            <div class="col-md-4" *ngFor="let customer of customers;">
                <div class="visitors">
                    <p class="visited-customers">{{customer.name}}</p>
                    <h5>{{customer.value}}</h5>
                </div>
            </div>
            

        </div>
    </div>
</div>


<div class="col-md-12 dashnot">

    <div class="col-md-6 settingtop">
        <h3 class="nb">
            Notifications

        </h3>
        <div class="notify-main col-md-12" *ngFor="let _notifications of notifications;">

            <div class="not-rep">
                <p>{{_notifications.ExpiresOn|date:'dd/MM/yyyy'}}</p>
                <div class="not-inner">{{_notifications.Description}}</div>

            </div>
           



        </div>



    </div>


</div>