<div class="col-md-12 no-pad">
    <div class="container">
        <div class="dashboard-main">
            <h4>Person Profile</h4>
            <div class="courseprofile-main">
                <div class="col-md-12 no-pad">
                    <div class="col-md-6 form-group">
                        <label class="col-md-4">Person ID:</label> <input class="input-medium col-md-8" type="text" placeholder="AD1123" />
                    </div>
                    <div class="col-md-6 form-group">
                        <label class="col-md-4">Person Name:</label> <input class="input-medium col-md-8" type="text" placeholder="CIF Academy ESO overview" />
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-4">
                        <button type="button" class="btn btn-primary btn-bg">Search</button>
                        <button type="button" class="btn btn-default btn-outline">Clear </button>
                    </div>
                </div>
            </div>
            <div class="col-md-12 no-pad">
                <div class="createnew-main">
                    <button type="button" class="btn btn-primary btn-bg">Create New</button>
                </div>
            </div>
        </div>
    </div>
</div>