<div class="loginbg">
    <div class="col-md-3 logincontiner">
        <div class="loginmain">
            <div class="login-top">
                <img alt="" src="../../../../wwwroot/images/logo.png" />

                <h1 class="text-center">Resturant App </h1>
            </div>
            <form class="logininner">

                <div class="form-group ffw">
                    <input type="text" class="form-control" id="username" name="username" value="" required="" placeholder="Enter your Full Name" />
                    <span class="help-block"></span>
                </div>
                <div class="form-group">

                    <input type="password" class="form-control" id="password" name="password" value="" required="" placeholder="Enter your email address" />
                    <span class="help-block"></span>
                </div>
                <div class="form-group ffw">
                    <input type="text" class="form-control" id="username" name="username" value="" required="" placeholder="Enter Password" />
                    <span class="help-block"></span>
                </div>
                <div class="form-group">

                    <input type="password" class="form-control" id="password" name="password" value="" required="" placeholder="Re-enter Password" />
                    <span class="help-block"></span>
                </div>
                <div class="logcheck no-mar">
                    <span class="pull-left fw">
                        <input type="checkbox" checked> <label> By Checking in, you agree to Trufl's Terms of Service, Cookie Policy, Privacy Policy and Content Policies</label>
                    </span>
                </div>
                <div class="login-btn">
                    <a href="#" class="secondary-btn">Clear</a>
                    <a href="#" class="primary-btn pull-right">Register</a>
                </div>

                <div class="createaccount">
                    <h2>
                        Already have a account ?
                        <a [routerLink]="['/login']">Login</a>
                    </h2>
                </div>

            </form>
        </div>

        <div class="terms">
        </div>
    </div>
</div>