<shared-header></shared-header>




<div class="col-md-12">
    <div class="row reinfomain">

        <div class="col-md-6 settingtop">


            <h3 class="nb">
                Resturant Info <input type="text" class="settingsearch" placeholder="Search" />
                <a data-toggle="modal" data-target="#AddRes" class="pull-right addres" href="#"><img width="24" alt="" src="../../../../wwwroot/images/add.png" /></a>
            </h3>
            <table class="table">

                <thead>
                    <tr>
                        <th width="200">Resturant Name</th>
                        <th width="100">Last Visited</th>
                        <th width="150">Actions</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td width="250">Botique Louie</td>
                        <td width="100">4/6/17</td>
                        <td width="100"> <a id="rowclick" href="#">View Details</a></td>
                    </tr>
                    <tr>
                        <td>Glasses</td>
                        <td>4/6/17</td>
                        <td><a href="#">View Details</a></td>
                    </tr>
                    <tr>
                        <td>Juices</td>
                        <td>4/6/17</td>
                        <td><a href="#">View Details</a></td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="col-md-6 settingtop pull-right">
            <h3 class="nb">
                Notifications
                <a class="pull-right addres" data-toggle="modal" data-target="#Notification" href="#"><img width="24" alt="" src="../../../../wwwroot/images/add.png"/></a>
            </h3>
            <div class="notify-main col-md-12">

                <div class="not-rep">
                    <p>01/02/2017 </p>
                    <div class="not-inner">Lorem Ipsum is simply dummy text of the printing and typesetting industry. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout </div>

                </div>
                <div class="not-rep">
                    <p>01/02/2017 </p>
                    <div class="not-inner">Lorem Ipsum is simply dummy text of the printing and typesetting industry. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout </div>

                </div>
                <div class="not-rep">
                    <p>01/02/2017 </p>
                    <div class="not-inner">Lorem Ipsum is simply dummy text of the printing and typesetting industry. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout </div>

                </div>


            </div>



        </div>
    </div>
</div>